#Replace all the place holders with your credentials 

import settings

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': ' <Database Name>',
        'USER': '<Username>',
        'PASSWORD': '<Password>',
        'HOST': '<host>',
        'PORT': '<Port number>',
    }
}
